<div class="home-container">
    <mat-toolbar color="primary" class="mat-elevation-z8 toolbar-fixed" [ngClass]="{'toolbar-top':isToolbarAtTop}">
      <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="isMobile" (click)="toggleMenu()">
        <mat-icon>{{ menuOpen ? 'close' : 'menu' }}</mat-icon>
      </button>
      <span>Maari</span>
      <span class="spacer"></span>
      <button mat-button *ngIf="!isMobile" (click)="scrollTo('home')">About</button>
      <button mat-button *ngIf="!isMobile" (click)="scrollTo('experience')">Experience</button>
      <button mat-button *ngIf="!isMobile" (click)="scrollTo('projects')">Projects</button>      
      <button mat-button *ngIf="!isMobile" (click)="scrollTo('contact')">Contact</button>
    </mat-toolbar>
  
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="scrollTo('home')">About</button>
        <button mat-menu-item  (click)="scrollTo('experience')">Experience</button>
        <button mat-menu-item (click)="scrollTo('projects')">Projects</button>        
        <button mat-menu-item (click)="scrollTo('contact')">Contact</button>
    </mat-menu>
  
    <div class="content">
       <!-- HOME SECTION -->
      
        <section id="home" class="home-section" style="gap:9rem" @fadeIn> 
                               
                <div class="about-details section__text">
                  <h1 class="section__text__p1">Hi,</h1>
                  <h1 class="title"><span class="iamclass">I'm </span> Marimuthu</h1>
                  <h1 class="section__text__p2">Web Developer</h1>
                  <div class="btn-container">
                    <button  class="btn btn-color-2"
                    onclick="window.open('assets/icons/RESUME.pdf', '_blank')"
                    >
                      Resume
                    </button>
                    <!-- <button  class="btn btn-color-1" onclick="location.href='./#contact'">
                      Contact Info
                    </button> -->
                  </div>
                  <div id="socials-container">
                    <a href="https://www.linkedin.com/in/mmarimuthu1997/" target="_blank">
                      <img
                        src="assets/icons/linkedin.png"
                        alt="My LinkedIn profile"
                        class="icon"
                      />
                    </a>
                    <a href="https://github.com/Maari1997/" target="_blank">
                      <img
                        src="assets/icons/github.png"
                        alt="My GitHub profile"
                        class="icon"
                      />
                    </a>
                    <a href="mailto:mmarimuthu1997@gmail.com">
                      <img
                        src="assets/icons/gmail.png"
                        alt="My Gmail account"
                        class="icon"
                      />
                    </a>
                  </div>
                                   
                </div>
                <div class="about-image">
                  <img src="assets/icons/profile_.jpg" alt="Marimuthu" />
                </div> 
        </section>
        
        <section id="about" class="about-section" @fadeIn>  
          <h3 class="subtitle">About Me</h3>
          <div class="section-container">             
              <div class="about-containers">
                <div class="details-container">
                  <img
                    src="assets/icons/experience.png"
                    alt="Experience icon"
                    class="icon"
                  />
                  <h2 style="font-weight: bold;">Experience</h2>
                  <p>2+ years <br />Fullstack Development</p>
                </div>
                <div class="details-container">
                  <img
                    src="assets/icons/education.png"
                    alt="Education icon"
                    class="icon"
                  />
                  <h2 style="font-weight: bold;">Education</h2>
                  <p>B.E Bachelors Degree</p>
                </div>
              </div>
              <div class="text-container">
                <p>
                  I am a dedicated software developer with a focus on front-end development using Angular and full-stack development with ASP.NET. My passion lies in impactful applications. With a strong foundation in coding best practices and a keen eye for design. I am committed to continuous learning and am always exploring new technologies to stay ahead in the ever-evolving tech landscape. My goal is to create innovative solutions that meet the needs of users expectations.
                </p>
              </div>           
          </div>          
        </section>
        
        <section id="experience" class="experience-section" @fadeIn>
          <h1 class="subtitle">Experience</h1>
          <div class="experience-details-container">
            <div class="about-containers">
              <div class="details-container">
                <h2 class="experience-sub-title">Frontend Technologies</h2>
                <div class="article-container">
                  <article>
                    <img
                      src="assets/icons/html.png"
                      alt="Experience icon"
                      class="icon"
                    />
                    <div>
                      <h3>HTML</h3>                      
                    </div>
                  </article>
                  <article>
                    <img
                      src="assets/icons/css.png"
                      alt="Experience icon"
                      class="icon"
                    />
                    <div>
                      <h3>CSS</h3>
                    </div>
                  </article>
                  <article>
                    <img
                    src="assets/icons/javascript.png"
                      alt="Experience icon"
                      class="icon"
                    />
                    <div>
                      <h3>JavaScript</h3>
                    </div>
                  </article>
                  <article>
                    <img
                    src="assets/icons/jquery.png"
                      alt="Experience icon"
                      class="icon"
                    />
                    <div>
                      <h3>jQuery</h3>
                    </div>
                  </article>
                                   <article>
                    <img
                    src="assets/icons/angular.png"
                      alt="Experience icon"
                      class="icon"
                    />
                    <div>
                      <h3>Angular</h3>
                    </div>
                  </article>
                  </div>
              </div>
              <div class="details-container">
                <h2 class="experience-sub-title">Backend Technologies</h2>
                <div class="article-container">
                  <article>
                    <img
                    src="assets/icons/csharp.png"
                      alt="Experience icon"
                      class="icon"
                    />
                    <div>
                      <h3>C#</h3>
                    </div>
                  </article>
                  <article>
                    <img
                    src="assets/icons/dotnet.png"
                      alt="Experience icon"
                      class="icon"
                    />
                    <div>
                      <h3>ASP.NET</h3>
                    </div>
                  </article>
                  <article>
                    <img
                    src="assets/icons/dotnet.png"
                      alt="Experience icon"
                      class="icon"
                    />
                    <div>
                      <h3>MVC</h3>
                    </div>
                  </article>
                   <article>
                    <img
                    src="assets/icons/sqlserver.png"
                      alt="Experience icon"
                      class="icon"
                    />
                    <div>
                      <h3>MS SQL</h3>
                    </div>
                  </article>
                  <article>
                    <img
                    src="assets/icons/github.png"
                      alt="Experience icon"
                      class="icon"
                    />
                    <div>
                      <h3>Git</h3>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
          <img
            src="assets/icons/arrow.png"
            alt="Arrow icon"
            class="icon arrow"
            onclick="location.href='./#projects'"
          />
        </section>           

        <section id="experience" class="experience-section" @fadeIn>
          <h1 class="subtitle">Experience</h1>
          <div class="experience-details-container">
            <div class="about-containers">
              <div class="details-container">
                <h2 class="experience-sub-title">Frontend Technologies</h2>
                <div class="article-container">
                  <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                      <mat-card-avatar>
                        <img src="assets/icons/html.png" alt="HTML icon" />
                      </mat-card-avatar>
                      <mat-card-title>HTML</mat-card-title>
                    </mat-card-header>
                  </mat-card>
        
                  <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                      <mat-card-avatar>
                        <img src="assets/icons/css.png" alt="CSS icon" />
                      </mat-card-avatar>
                      <mat-card-title>CSS</mat-card-title>
                    </mat-card-header>
                  </mat-card>
        
                  <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                      <mat-card-avatar>
                        <img src="assets/icons/javascript.png" alt="JavaScript icon" />
                      </mat-card-avatar>
                      <mat-card-title>JavaScript</mat-card-title>
                    </mat-card-header>
                  </mat-card>
        
                  <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                      <mat-card-avatar>
                        <img src="assets/icons/jquery.png" alt="jQuery icon" />
                      </mat-card-avatar>
                      <mat-card-title>jQuery</mat-card-title>
                    </mat-card-header>
                  </mat-card>
        
                  <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                      <mat-card-avatar>
                        <img src="assets/icons/angular.png" alt="Angular icon" />
                      </mat-card-avatar>
                      <mat-card-title>Angular</mat-card-title>
                    </mat-card-header>
                  </mat-card>
                </div>
              </div>
        
              <div class="details-container">
                <h2 class="experience-sub-title">Backend Technologies</h2>
                <div class="article-container">
                  <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                      <mat-card-avatar>
                        <img src="assets/icons/csharp.png" alt="C# icon" />
                      </mat-card-avatar>
                      <mat-card-title>C#</mat-card-title>
                    </mat-card-header>
                  </mat-card>
        
                  <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                      <mat-card-avatar>
                        <img src="assets/icons/dotnet.png" alt="ASP.NET icon" />
                      </mat-card-avatar>
                      <mat-card-title>ASP.NET</mat-card-title>
                    </mat-card-header>
                  </mat-card>
        
                  <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                      <mat-card-avatar>
                        <img src="assets/icons/dotnet.png" alt="MVC icon" />
                      </mat-card-avatar>
                      <mat-card-title>MVC</mat-card-title>
                    </mat-card-header>
                  </mat-card>
        
                  <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                      <mat-card-avatar>
                        <img src="assets/icons/sqlserver.png" alt="MS SQL icon" />
                      </mat-card-avatar>
                      <mat-card-title>MS SQL</mat-card-title>
                    </mat-card-header>
                  </mat-card>
        
                  <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                      <mat-card-avatar>
                        <img src="assets/icons/github.png" alt="Git icon" />
                      </mat-card-avatar>
                      <mat-card-title>Git</mat-card-title>
                    </mat-card-header>
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
          <img
            src="assets/icons/arrow.png"
            alt="Arrow icon"
            class="icon arrow"
            onclick="location.href='./#projects'"
          />
        </section>
        
    
        <section id="projects" class="projects-section" @fadeIn>
          <h1 class="subtitle">Projects</h1>
          <div class="experience-details-container" style="margin-top: 2rem;">
            <div class="about-containers">
              <div class="details-container color-container">
                <p>Online building plan engine</p>
                <div class="article-container">
                  <img
                    src="assets/icons/house.png"
                    alt="Project 1"
                    class="project-img"
                  />
                </div>
                <h2 class="experience-sub-title project-title">Web Development</h2>
                
              </div>
              <div class="details-container color-container">
                <p>Online building Plan approval system</p>
                <div class="article-container">
                  <img
                    src="assets/icons/building-plan.png"
                    alt="Project 2"
                    class="project-img"
                  />
                </div>
                <h2 class="experience-sub-title project-title">App Development</h2>
                
              </div>              
            </div>
          </div>
          <img
            src="assets/icons/arrow.png"
            alt="Arrow icon"
            class="icon arrow"
            onclick="location.href='./#contact'"
          />
        </section>
        <!-- <section id="contact_" class="contact-section" style="display:none;" @fadeIn>
          <h1 class="subtitle">Contact Me</h1>
          <div class="contact-info-upper-container">
            <div class="contact-info-container">
              <img
                src="assets/icons/gmail.png"
                alt="Email icon"
                class="icon contact-icon email-icon"
              />
              <p><a href="mailto:mmarimuthu1997@gmail.com">mmarimuthu1997&#64;Gmail</a></p>
            </div>
            <div class="contact-info-container">
              <img
                src="assets/icons/linkedin.png"
                alt="LinkedIn icon"
                class="icon contact-icon"
              />
              <p>
                <a href="https://www.linkedin.com/in/marimuthu-m1997" target="_blank">LinkedIn</a>
              </p>
            </div>
          </div>
        </section> -->
        <section id="contact">
  
          <h1 class="section-header">Contact</h1>
          
          <div class="contact-wrapper">
          
          <!-- Left contact page --> 
            
            <form id="contact-form" class="form-horizontal" role="form">
               
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" required>
                </div>
              </div>
        
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="" required>
                </div>
              </div>
        
              <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message" required></textarea>
              
              <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
                SEND              
              </button>
              
            </form>
            
          <!-- Left contact page --> 
            
              <div class="direct-contact-container">
        
                <ul class="contact-list">
                  <li class="list-item"><i class="fa fa-map-marker fa-2x"></i> <span class="contact-text place" style="margin-left: 10px;">Chennai</span></li>
                  
                  <li class="list-item"><i class="fa fa-phone fa-2x"></i><span class="contact-text phone"><a href="tel:1-212-555-5555" title="Give me a call">(+91) 9360623548</a></span></li>
                  
                  <li class="list-item"><i class="fa fa-envelope fa-2x"></i><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">mmarimuthu1997&#64;gmail.com</a></span></li>
                  
                </ul>
        
                <hr>
                <ul class="social-media-list">
                  <li><a href="#" target="_blank" class="contact-icon">
                    <i class="fa fa-github" aria-hidden="true"></i></a>
                  </li>
                  <li><a href="#" target="_blank" class="contact-icon">
                    <i class="fa fa-twitter" aria-hidden="true"></i></a>
                  </li>
                  <li><a href="#" target="_blank" class="contact-icon">
                    <i class="fa fa-instagram" aria-hidden="true"></i></a>
                  </li>       
                </ul>
                <hr>
        
                <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>
        
              </div>
            
          </div>
          
        </section>  
                 
        
      </div>
</div>
  