.home-container
{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
    background-color: #f0f3f5 !important;
    padding:20px;
    width: auto;
  }

.spacer {
    flex: 1 1 auto;
  }

  mat-toolbar{
       width: 90%;
       border-radius: 5px;
       background-color: #0879e7!important;
  }

  .mdc-button .mdc-button__label {
    position: relative;
    font-size: 16px!important;
    font-weight: bold!important;
}
  
  .toolbar-fixed {
    position: fixed;
    top:20px;
    width:90%;
    z-index: 1000;  
    transition: top 0.5s ease-in-out;  
  }

   .toolbar-top {
    top: 0px!important; /* Position at the top when scrolled */
    transition: top 0.5s ease-in-out;
    width:100%;
    border-radius: 0;
  }

  .mat-menu-content {
    display: flex;
    flex-direction: row;
  }
  
  .mat-menu-item {
    justify-content: center;
    min-width: auto;
  }

  .content {
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
    
  }

  .fade-out {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
  }

  .fade-section {
    transition: opacity 0.5s ease;
  }  

  #home{
    padding:1rem 0;
  }

 
.home-section,
.about-section,
.projects-section,
.experience-section,
.contact-section{
  width: 90%;
  max-width: 800px;  
  text-align: center;
  height:auto;
  position: relative;
  margin-bottom: 2rem; 
  padding-top: 1rem !important; 
  z-index: 0; 
  overflow: hidden; 
  transition: opacity 0.3s ease-in-out;
  gap: 3rem ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.home-section{
    gap: 9rem!important;
    padding-top:6rem!important;
}

.about-image img{
  border-radius: 50%;
    width: 250px;
    height: 250px;
    /* border:5px solid white; */
}



/* ICONS */

.icon {
  cursor: pointer;
  height:2rem;
}

/******************************************************************/
/* HOME SECTION */
.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
    color: #f80727;
}

.section__text__p1 {
  text-align: left;  
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: bold;
  
}

.section__text__p2 {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: bold;
  color: #ff0076;
}

.iamclass{
  color: black !important;
  font-size: 3rem;
}
.title {
  font-size: 3rem;
  text-align: center;
  color: #0879e7;
  margin-bottom:2rem!important;
  font-weight: bold;
  display: flex;
  gap:0.6rem;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1.3rem;
  gap: 1rem;
}

#socials-container img{
  height: 2rem!important;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top:1.5rem;
  margin-bottom:3.5rem;
}

.btn {
  padding: 10px 25px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  background: linear-gradient(90deg, #E91E63 0%, #005bb5 100%);
  border: none;
  border-radius:5px;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.btn-color-2 {
  background: linear-gradient(90deg, #E91E63 0%, #005bb5 100%)
}

.btn:hover {
  background: linear-gradient(90deg, #005bb5 0%, #E91E63 100%);
  transform: translateY(-3px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
}

.btn:active {
  transform: translateY(1px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

.about-section {
  padding: 80px 0;
    text-align: center;

  .subtitle {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 40px;
    font-weight: bold;
  }

  .section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 0 20px;
  }

  .about-containers {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    flex-wrap: wrap;

    .details-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      padding: 30px;
      border-radius: 15px;
      box-shadow: 0px 10px 20px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      padding:15px;

      .icon {
        width: 60px;
        height: 60px;
        margin-bottom: 20px;
      }

      .details-title {
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: #007BFF;
        font-weight: 600;
      }

      p {
        font-size: 1.1rem;
        color: #555;
        line-height: 1.6;
      }

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.15);
      }
    }
  }

  .text-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    font-size: 1.2rem;
    line-height: 1.8;
    color: #333;

    p {
      margin: 0;
      text-align: left;
    }
  }
  h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
  }
}


/* CONTACT SECTION */

#contact {
  /* background-color:#0879e7 ; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

 #contact h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

.form-group{
  margin-bottom: 20px;
}


.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
  margin:0;
  text-decoration: none;
  
}

.contact-info-container p a {
    text-decoration: none;
    color:blue;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    font: 300 40px "Oswald", sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.contact-wrapper {
  padding-bottom: 20px;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: #0879e7;
}


.form-control {
  width: 300px;
  background-color: #0879e7;
  color: white !important;
  letter-spacing: 1px;
  border: 1px solid black; /* Change border color to white */
  border-radius: 5px;
  padding: 10px;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.7); /* Change placeholder color */
}

.form-control:focus {
  border: 1px solid black !important; /* Keep border white on focus */
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.5); /* Add shadow effect on focus */
  outline: none; /* Remove default outline */
}

textarea::placeholder {
  color: rgba(255, 255, 255, 0.7); /* Change placeholder color for textarea */
}

/* Left contact page */
.form-horizontal {
  width: 40%;
  font-family: "Lato";
  font-weight: 400;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

textarea {
  max-width: 400px;
  background-color: #0879e7;
  color: #fff;
  letter-spacing: 1px;
}

textarea:focus {
  border: 1px solid white !important; /* White border on focus */
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.5); /* Shadow effect on focus */
  outline: none;
}


.send-button {
  margin-top: 2rem;
    width: 250px;
    overflow: hidden;
    transition: all .2s ease-in-out;
    padding: 10px!important;
    border: 1px solid #0879e7 ;
    cursor: pointer;
}

.send-button{
  background-color:black;
  color:white;
}

.send-button:hover {
  border-color:white ;
  background-color: white;
  color:black;
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  width: 40%;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: black;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
  margin-bottom: 1rem;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color:white;
 }


.contact-text a {
  color:white;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 10px 6px;
  line-height: 50px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: black;
  letter-spacing: 1px;
  text-align: center;
  margin-top:25px;
  font-weight: bold;
}

hr {
  border-color: rgba(255,255,255,.6);  
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
    width: 80%;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    /* max-width: 300px; */
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
    width: 100%;
  }  
  
 .contact-text{
  font-size: 15px!important;
 }

 .contact-list {
  list-style-type: none;
   padding-right: 20px;
   margin-left: 0;
}
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 25px;
    /* max-width: 280px; */
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 35px;
        width: 35px;
        line-height: 35px;
        font-size: 1.7rem;
  }
  .social-media-list li:after {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  
    
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color:white;
    }
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }  
}

/* Service Section */

.services-section {
  text-align: center;
  margin: 50px 0;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-weight: bold;
  }
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
  padding: 20px;
}

.service-card {
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  img {
    width: 100px;
    margin: 20px auto;
    display: block;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  }
}

.mat-mdc-card-header {
  display: flex;
  padding: 16px 16px 0;
  justify-content: center!important;
}
/* Experience section */
.experience-section {
  text-align: center;
  padding: 50px 0;
  /* background-color: #f7f9fc; */

  h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-weight: bold;
  }


  .experience-details-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding:15px;
  }

  .about-containers {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  .details-container {
    flex: 1;
    min-width: 350px;

    .experience-sub-title {
      font-size: 1.8rem;
      margin-bottom: 20px;
      text-align: center;
    }

    .article-container {
      display: flex;
      flex-wrap: wrap;
      justify-content:center;
      flex-direction: column;
      gap: 15px;
      
      article {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 10px;
        border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        background-color: #fff;
        box-shadow: 0px 4px 15px ;

        .icon {
          width: 50px;
          height: 50px;
        }

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
        }

        h3 {
          margin: 0;
          font-size: 1.2rem;
        }
      }
    }
  }
 
}

.arrow {
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-10px);
  }
}

/* Scroll Icon */

.scroll-icon {
  width: 20px;
  height: 20px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: white;
  color:  #0879e7;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.scroll-icon:hover {
  background-color: black ;/* Darken color on hover */
  color:white;
}

.scroll-icon i {
  font-size: 20px;
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .scroll-icon {
    bottom: 25px;
    right: 25px;
    padding: 8px;
  }

  .scroll-icon i {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .scroll-icon {
    bottom:2px;
    right: 20px;
    padding: 6px;
  }

  .scroll-icon i {
    font-size: 16px;
  }
}

.animated-underline {
  /* width: 0; */
  height: 3px;
  background-color: #0879e7; 
  margin-top: 1rem;
  transition: width 0.5s ease-in-out;
}

#socials-container:hover ~ .animated-underline {
  width: 100%;
}
